<section class="mt-10 p-4 bg-gray-50 rounded-xl border border-gray-100">
    <h3 class="text-miami-blue font-[Oswald] uppercase italic font-bold mb-4">Dernières Alertes @MiamiDolphins</h3>
    <a class="twitter-timeline" data-height="600" data-theme="light" href="https://twitter.com/MiamiDolphins?ref_src=twsrc%5Etfw">
        Chargement du flux...
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>